.option{
    position: absolute;
    bottom: 2%;
    right: 9%;
    z-index: 5;
    background: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    width: 10rem;
}

.option div:nth-child(1){
    margin-bottom: 5px;
}

.option button{
    background: transparent;
    border: none;
    color: grey;
    text-align: left;
    width: 100%;
}

.option button:hover{
    color: black;
}

.option .icon{
    margin-top: 3px;
    margin-right: 3px;
}
