.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 84vh;
}

.signup-container {
  display: inline-block;
  box-shadow: 1px 0px 5px 1px rgba(255, 136, 179, 0.6);
  border-radius: 5px;
  padding: 1.4rem;
}

.signup-container .heading {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.signup-container .heading h2 {
  font-weight: normal;
  text-align: center;
  font-weight: 600;
  margin: 0 auto;
  color: var(--primary-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.signup-container .error {
  color: red;
}
.signup-container .form-input-parent {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.signup-container .form-inputs {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid rgb(194, 194, 194);
  padding: 0 0.5rem;
  background-color: white;
  color: var(--primary-color);
}

.signup-container div {
  display: flex;
}

.form-inputs input {
  height: 45px;
  width: 500px;
  font-size: 1.2rem;
  padding: 0.7rem;
  border: none;
}

.form-inputs input:focus {
  outline: none;
}

.signup-container .sign-up-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-container .sign-up-btn button {
  width: 40%;
  border-radius: 5px;
  height: 2.3rem;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

.signup-container .sign-up-btn span {
  margin-top: 0.7rem;
  color: white;
}

.signup-container .sign-up-btn span strong {
  color: var(--primary-color);
  margin-left: 5px;
}
